.datepicker {
  width: 500px;
  margin-top: 9px;
  margin-bottom: 9px;
  height: 55px;
  font-style: normal;
  color: #121212;
  font-size: 31px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.48px;
  padding: 0 24px;
  padding-top: 4px;
  border-radius: 8px;
}
