


button.primary {
  position: absolute;
  right: 24px;
  bottom: -96px;
  height: 97px;
  width: 97px;
  padding: 0;
}


@media (max-width: 768px) {
  button.primary{
    right: calc( (100vw - 97px)/2);
    scale: 0.8;
  }
}