h1.content {
  font-size: 98px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.03px;
  color: #161616;
}

h2.content {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1px;
  color: #161616;
  text-align: center;
  margin-top: 32px;
}

span.empty {
  color: #8349FF;
  font-size: 103px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 2px;
  margin-right: 24px;
}

@media (max-width: 768px) {
  h1.content{
    font-size: 40px;
  }
  h2.content{
    font-size: 22px;
  }
  span.empty{
    font-size: 40px;
  }
}