@import '_variable.scss';
@import '_button.scss';
@import '_input.scss';
@import '_card.scss';


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}


body{
  background-color: #F0F0F0;
}




